=clear
  float: none
  clear: both
  height:      0
  font-size:   0
  line-height: 0

// From bootstrap
=clearfix
  *zoom: 1
  &:before, &:after
    content: " "
    display: table
  &:after
    clear: both

.clear
  +clear

.clearfix
  +clearfix