=calc($property, $value)
  #{$property}: -webkit-calc(#{$value})
  #{$property}: calc(#{$value})

.borderless
  border: none

=position($top: 0, $right: 0, $bottom: 0, $left: 0)
  top:    $top
  bottom: $bottom
  left:   $left
  right:  $right

=absolute($top: 0, $right: 0, $bottom: 0, $left: 0)
  position: absolute
  +position($top, $right, $bottom, $left)

// Deprecated
=absolute0000
  +absolute

=min-width($width)
  // http://stackoverflow.com/questions/3802455/min-width-in-window-resizing
  min-width: $width       /* Suppose you want minimun width of 1000px */
  width: auto !important  /* Firefox will set width as auto */
  width: $width           /* As IE ignores !important it will set width as 1000px; */

=blank
  &:empty, &:blank, &:-moz-only-whitespace
    @content

=cursor($type)
  @if $type == grab
    cursor: grab
    cursor: -moz-grab
    cursor: -webkit-grab
  @else if $type == grabbing
    cursor: grabbing
    cursor: -moz-grabbing
    cursor: -webkit-grabbing
  @else
    cursor: $type