$font-size-base:        14px      !default
$line-height-base:      (20 / 14) !default
$font-family-emoji:     'Apple Color Emoji', 'Segoe UI Emoji', 'NotoColorEmoji', 'Segoe UI Symbol', 'Android Emoji', 'EmojiSymbols' !default
$font-family-monospace: Consolas, Menlo, Monaco, 'Fira Mono', 'Andale Mono', 'Lucida Console', 'Bitstream Vera Sans Mono', 'Courier New', Courier, monospace !default

$fr-font-family:          inherit                               !default
$fr-font-size:            $font-size-base                       !default
$fr-font-style:           normal                                !default
$fr-font-weight:          inherit                               !default
$fr-min-font-size:        8px                                   !default
$fr-max-font-size:        96px                                  !default
$fr-line-height:          $line-height-base                     !default
$fr-text-color:           inherit                               !default
$fr-text-styles:          gray bordered spaced uppercase light  !default
$fr-headings-font-weight: 600                                   !default
$fr-headings-line-height: 1.1                                   !default
$fr-headings-text-color:  inherit                               !default

$fr-black:                    #000000 !default
$fr-white:                    #FFFFFF !default
$fr-green-light:              #61BD6D !default
$fr-green-dark:               #41A85F !default
$fr-cyan-light:               #1ABC9C !default
$fr-cyan-dark:                #00A885 !default
$fr-aqua-light:               #54ACD2 !default
$fr-aqua-dark:                #3D8EB9 !default
$fr-blue-light:               #2C82C9 !default
$fr-blue-dark:                #2969B0 !default
$fr-violet-light:             #9365B8 !default
$fr-violet-dark:              #553982 !default
$fr-darkblue-light:           #475577 !default
$fr-darkblue-dark:            #28324E !default
$fr-yellow-light:             #F7DA64 !default
$fr-yellow-dark:              #FAC51C !default
$fr-orange-light:             #FBA026 !default
$fr-orange-dark:              #F37934 !default
$fr-softred-light:            #EB6B56 !default
$fr-softred-dark:             #E25041 !default
$fr-red-light:                #D14841 !default
$fr-red-dark:                 #B8312F !default
$fr-ultralightgray-light:     #EFEFEF !default
$fr-ultralightgray-dark:      #DDDDDD !default
$fr-lightgray-light:          #D1D5D8 !default
$fr-lightgray-dark:           #CCCCCC !default

$fr-darkgray-light:          #656D78 !default
$fr-darkgray-dark:           #434A54 !default


$fr-grayish-light:            #A38F84 !default
$fr-grayish-dark:             #7C706B !default
$fr-green-primary:            $fr-green-dark      !default
$fr-blue-primary:             $fr-blue-dark       !default
$fr-violet-primary:           $fr-violet-dark     !default
$fr-yellow-primary:           $fr-yellow-dark     !default
$fr-orange-primary:           $fr-orange-dark     !default
$fr-softred-primary:          $fr-softred-dark    !default
$fr-red-primary:              $fr-red-dark        !default
$fr-gray-primary:             $fr-lightgray-dark  !default

$fr-table-theme-color:                    $fr-gray-primary                    !default
$fr-table-head-bg-color:                  lighten($fr-table-theme-color, 10%) !default
$fr-table-cell-border-color:              lighten($fr-table-theme-color, 5%)  !default
$fr-table-alternate-row-bg-color:         lighten($fr-table-theme-color, 15%) !default
$fr-table-responsive-cell-border-color:   lighten($fr-table-theme-color, 5%)  !default
$fr-table-responsive-row-separator-color: darken($fr-table-theme-color, 30%)  !default

$fr-quote-0-text-color:   inherit             !default
$fr-quote-0-border-color: $fr-orange-primary  !default
$fr-quote-1-text-color:   inherit             !default
$fr-quote-1-border-color: $fr-blue-primary    !default
$fr-quote-2-text-color:   inherit             !default
$fr-quote-2-border-color: $fr-green-primary   !default

$fr-text-gray-color:              darken($fr-gray-primary, 20%)   !default
$fr-text-bordered-border-color:   darken($fr-gray-primary, 20%)   !default
$fr-figcaption-text-color:        $fr-white                       !default
$fr-figcaption-bg-color:          transparentize($fr-black, 0.5)  !default
$fr-img-bordered-border-color:    $fr-gray-primary                !default
$fr-hr-color:                     $fr-gray-primary                !default

$nprogress-color:               #44b4c2 !default
$nprogress-bar-height-default:  2px     !default
$nprogress-bar-height-phone:    3px     !default
$nprogress-bar-height-tablet:   3px     !default