// https://gist.github.com/adamstac/5048881
=font-smoothing($value: antialiased)
  @if $value == antialiased
    -webkit-font-smoothing: $value
    -moz-osx-font-smoothing: grayscale
  @else
    -webkit-font-smoothing: $value
    -moz-osx-font-smoothing: auto

=font-size($size, $base-size: $trb-font-size-base)
  +rem(font-size, $size, $base-size)

=tab-size($num)
  -moz-tab-size: $num
  -o-tab-size: $num
  -webkit-tab-size: $num
  tab-size: $num

// https://kenneth.io/blog/2012/03/04/word-wrapping-hypernation-using-css/
// https://gist.github.com/darryl-snow/3838120
//
// With Interactive Testing Tool:
//  http://shpargalkablog.ru/2013/02/word-wrap.html
=word-wrap
  // Not standard CSS3 properties (by IE)
  -ms-word-wrap: normal
  word-wrap: normal

  // New name as per the CSS3 spec
  // http://stackoverflow.com/questions/1795109/what-is-the-difference-between-word-break-break-all-versus-word-wrap-break
  overflow-wrap: normal

  // Warning: Needed for oldIE support, but words are broken up letter-by-letter
  -ms-word-break: normal
  word-break: normal

  // Chrome doesn't support auto
  -webkit-hyphens: auto
  -moz-hyphens: auto
  -ms-hyphens: auto
  hyphens: auto

  white-space: pre /* CSS2 */
  white-space: -moz-pre-wrap /* Mozilla */
  white-space: -hp-pre-wrap /* HP printers */
  white-space: -o-pre-wrap /* Opera 7 */
  white-space: -pre-wrap /* Opera 4-6 */
  white-space: pre-wrap /* CSS 2.1 */
  white-space: pre-line /* CSS 3 (and 2.1 as well, actually) */

// Values: none (default), auto, 100%
// https://developer.mozilla.org/en-US/docs/Web/CSS/text-size-adjust
=text-size-adjust($value: none)
  -webkit-text-size-adjust: $value
  -moz-text-size-adjust: $value
  -ms-text-size-adjust: $value