// https://gist.github.com/adamstac/5048881
=font-smoothing($value: antialiased)
  @if $value == antialiased
    -webkit-font-smoothing: $value
    -moz-osx-font-smoothing: grayscale
  @else
    -webkit-font-smoothing: $value
    -moz-osx-font-smoothing: auto

=font-size($size)
  $size: strip-unit($size)
  font-size: $size * 1px
  font-size: ($size / strip-unit($trb-font-base-size)) * 1rem