#nprogress
  .bar
    background: $nprogress-color
    height: $nprogress-bar-height-default
  .peg
    box-shadow: 0 0 10px $nprogress-color, 0 0 5px $nprogress-color

html
  &.responsive
    #nprogress
      .bar
        +phone
          height: $nprogress-bar-height-phone

  &.non-responsive
    &.device-phone #nprogress .bar
      height: $nprogress-bar-height-phone * 2
  
    &.device-tablet #nprogress .bar
      height: $nprogress-bar-height-tablet * 1.5