=calc($property, $value)
  #{$property}: -webkit-calc(#{$value})
  #{$property}: calc(#{$value})

@function strip-unit($n)
  @return $n / ($n * 0 + 1)

.borderless
  border: none !important

@mixin input-placeholder
  &.placeholder
    @content
  &:-moz-placeholder
    @content
  &::-moz-placeholder
    @content
  &:-ms-input-placeholder
    @content
  &::-webkit-input-placeholder
    @content

// https://kenneth.io/blog/2012/03/04/word-wrapping-hypernation-using-css/
// https://gist.github.com/darryl-snow/3838120
=word-wrap
  // Not standard CSS3 properties (by IE)
  -ms-word-wrap: break-word
  word-wrap: break-word

  // Warning: Needed for oldIE support, but words are broken up letter-by-letter
  -ms-word-break: break-all
  word-break: break-all

  // Non standard for webkit
  word-break: break-word

  // new name as per the CSS3 spec
  overflow-wrap: break-word

  -webkit-hyphens: auto
  -moz-hyphens: auto
  hyphens: auto

  white-space: pre /* CSS2 */
  white-space: -moz-pre-wrap /* Mozilla */
  white-space: -hp-pre-wrap /* HP printers */
  white-space: -o-pre-wrap /* Opera 7 */
  white-space: -pre-wrap /* Opera 4-6 */
  white-space: pre-wrap /* CSS 2.1 */
  white-space: pre-line /* CSS 3 (and 2.1 as well, actually) */

// Values: none (default), auto, 100%
// https://developer.mozilla.org/en-US/docs/Web/CSS/text-size-adjust
=text-size-adjust($value: none)
  -webkit-text-size-adjust: $value
  -moz-text-size-adjust: $value
  -ms-text-size-adjust: $value