=calc($property, $value)
  #{$property}: -webkit-calc(#{$value})
  #{$property}: calc(#{$value})

@function strip-unit($n)
  @return $n / ($n * 0 + 1)

.borderless
  border: none !important

=input-placeholder
  &.placeholder
    @content
  &:-moz-placeholder
    @content
  &::-moz-placeholder
    @content
  &:-ms-input-placeholder
    @content
  &::-webkit-input-placeholder
    @content

=user-select($type: auto)
  user-select: $type
  -o-user-select: $type
  -moz-user-select: $type
  -khtml-user-select: $type
  -webkit-user-select: $type
  -ms-user-select: $type

=inline-block
  display: -moz-inline-stack
  display: inline-block
  *zoom: 1
  *display: inline