$trb-screen-xs-min: 480px !default
$trb-screen-sm-min: 768px !default
$trb-screen-md-min: 992px !default
$trb-screen-lg-min: 1200px !default

$trb-screen-xs-max: ($trb-screen-sm-min - 1) !default
$trb-screen-sm-max: ($trb-screen-md-min - 1) !default
$trb-screen-md-max: ($trb-screen-lg-min - 1) !default

$trb-font-size-base: 14px !default
$trb-font-size-large: ceil(($trb-font-size-base * 1.25)) !default
$trb-font-size-small: ceil(($trb-font-size-base * 0.85)) !default

$trb-line-height: (20 / 14) !default

$trb-form-font-stack: Arial, "Liberation Sans", FreeSans, sans-serif !default
$trb-form-font-size: $trb-font-size-base !default

$trb-froala-wysiwyg-font-size-base: $trb-font-size-base !default
$trb-froala-wysiwyg-line-height:    $trb-line-height !default
$trb-froala-wysiwyg-min-font-size:  8px !default
$trb-froala-wysiwyg-max-font-size:  96px !default
$trb-froala-wysiwyg-text-styles:    gray bordered spaced uppercase light !default
$trb-froala-wysiwyg-headings-font-weight: 600 !default
$trb-froala-wysiwyg-headings-line-height: 1.1 !default