$trb-screen-xs-min: 480px !default
$trb-screen-sm-min: 768px !default
$trb-screen-md-min: 992px !default
$trb-screen-lg-min: 1200px !default

$trb-screen-xs-max: ($trb-screen-sm-min - 1) !default
$trb-screen-sm-max: ($trb-screen-md-min - 1) !default
$trb-screen-md-max: ($trb-screen-lg-min - 1) !default

$trb-form-font-stack: Arial, "Liberation Sans", FreeSans, sans-serif !default
$trb-form-font-size: 14px !default

$trb-compass-fw: false !default
$trb-bourbon-fw: false !default
$trb-bootstrap-fw: false !default